@model GameViewModel


<form action="/Game/AddGame" method="post">
    <div>
        GameName: <input name=@WebMazeMvc.Localize.GameController.Element_GameName />
    </div>
    <div>
        Url: <input name=@WebMazeMvc.Localize.GameController.Element_Url />
    </div>
    <div>
        Link: <input name=@WebMazeMvc.Localize.GameController.Element_Link />
    </div>
    <div>
        <input type="submit" value=@WebMazeMvc.Localize.GameController.Element_Send />
    </div>
</form>

