@model GameViewModel


<form action="/Game/AddGame" method="post">
    <div>
        GameName: <input name="GameName" />
    </div>
    <div>
        Url: <input name="Url" />
    </div>
    <div>
        Link: <input name="Link" />
    </div>
    <div>
        <input type="submit" value="Send" />
    </div>
</form>

