@model List<GameViewModel>

<div class="allgames">
    @foreach (var game in Model)
    {
        <div class="oneGame">

            <a href=@game.Link>
                <div  class="namegame">
                    @game.GameName
                </div>
            </a>

            <a href=@game.Link>
                <div class="gamepole">
                    <img src="@game.Url" />
                </div>
            </a>

            <a href=@game.Link class="сылка на жанр">
                ссылка на жанр
            </a>

        </div>
    }
</div>
