@model List<GameViewModel>

@section Head{
    <link rel="stylesheet" href="~/css/game.css">
}

<div class="allgames">
    @foreach (var game in Model)
    {
        <div class="oneGame">

            <a href="/Game/GamePage?Id=@game.Id">
                <div class="namegame">
                    @game.GameName
                </div>

                <div class="gamepole">
                    <img src="@game.Url" />
                </div>
            </a>

            <a href=@game.Link class="сылка на жанр">
                ссылка на жанр
            </a>

        </div>
    }
</div>
