@model List<AllBanksForRemoveViewModel>

 
<div>
    <div>
        <a href="/Bank/BanksAdding">@WebMazeMvc.Localize.Bank.AllBanks_addBank</a>
    </div>

    @foreach (var bank in Model)
    {
        <div>
            @bank.Name <a href="/Bank/Remove?id=@bank.Id">@WebMazeMvc.Localize.Bank.AllBanks_delete</a>  <a href="/Bank/AllClientsOfBank?id=@bank.Id">@WebMazeMvc.Localize.Bank.AllBanks_listOfClients</a>
        </div>
    }
</div>