@model List<AllBanksForRemoveViewModel>

 
<div>
    <div>
         <a href="/Bank/BanksAdding">Добавить банк</a>
    </div>

    @foreach (var bank in Model)
    {
        <div>
            @bank.Name <a href="/Bank/Remove?id=@bank.Id">Удалить</a>  <a href="/Bank/AllClientsOfBank">Список клиентов</a>
        </div>
    }
</div>