@model ClientOfBankViewModel
    <div>
        <a href="/Bank/AllBanks">@WebMazeMvc.Localize.Bank.AllClientsOfBank_BackToBanks</a>
    </div>
    <div>
        <a href="/Bank/NewClientOfBank?IdBank=@Model.IdBank">Добавить клиента</a>
    </div>
<div>
    
    @for (int i=0; i<Model.Id.Count; i++)
    {
    <div>
        @Model.Id[i]     @Model.Login[i]
    </div>
     }
</div>