@model List<ClientOfBankViewModel>
    <div>
        <a href="/Bank/AllBanks">@WebMazeMvc.Localize.Bank.AllClientsOfBank_BackToBanks</a>
    </div>

<div>
    
    @foreach (var user in Model)
    {
    <div>
        @user.Id     @user.Login
    </div>
     }
</div>