@model BanksAddingViewModel 
<form action="/Bank/BanksAdding" method="post">
    <div>
        <a href="/Bank/AllBanks">@WebMazeMvc.Localize.Bank.BanksAdding_BackToBanks</a>
    </div>

    <div>
        @Html.TextBoxFor(x => x.Name)
    </div>

    <div>
        @Html.TextBoxFor(x => x.Country)
    </div>

    <div>
        <input type="submit" value="@WebMazeMvc.Localize.Bank.BanksAdding_AddBankButton"/>
    </div>
</form>