@model List<MainForumViewModel>

@section Head{
    <link rel="stylesheet" href="~/css/forum.css?v=5">
}

<div>
    <nav>
    <ul class="top-menu">
        <li><a href="/Forum/All">Все форумы</a></li>
        <li class="active"><a href="/Forum/My">Мои форумы</a></li>
        <button class="menu"><a href="/Forum/Add">Добавить</a></button>
        </ul>
    </nav>
    <div>
    @foreach (var forum in Model)
    {
        <div>
            @forum.Topic
        </div>
        <div>
            @forum.DateCreated
        </div>
        <div>
            @forum.NameCreater
        </div>
        <div>
            <a href="/Forum/Delete?id=@forum.Id"> Delete </a>
        </div>
    }
    </div>
</div>