<html>
<head>
    <link rel="stylesheet" href="~/css/site.css?v=1">

    @RenderSection("Head", false)
</head>
<body>
    <div class="header">
        <img src="~/image/cat-logo.png" />
        Название сайта
    </div>

    <div class="center-block">
        <div class="menu">
            <div>
                <a href="/Home/Index">Home</a>
            </div>
            <div>
                <a href="/Cat/Gallery">Gallery</a>
            </div>
            <div>
                <a href="/Cat/Add">Add cat</a>
            </div>
            <div>
                <a href="/Maze/CreateMaze">Create Maze</a>
            </div>
            <div>
                <a href="/User/Registration">Registration</a>
            </div>
            <div>
                <a href="/Game/AllGames">Games</a>
            </div>
            <div>
                <a href="/Game/AddGame">Add Game</a>
            </div>
            
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>

    <div class="footer">
        Подвал
    </div>
</body>
</html>
