<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css">
    </head>
    <body>
        <div class="header">
            <img src="~/image/cat-logo.png" />
            Название сайта
        </div>

        <div class="center-block">
            <div class="menu">
                menu
            </div>
            <div class="content">
                @RenderBody()
            </div>
        </div>

        <div class="footer">
            Подвал
        </div>
    </body>
</html>
