<html>
<head>
    <link rel="stylesheet" href="~/css/site.css?ver=1">

    @RenderSection("Head", false)
</head>
<body>
    <div class="header">
        <img src="~/image/cat-logo.png" />
        Название сайта
    </div>

    <div class="center-block">
        <div class="menu">
            <a href="/Home/Index">Home</a>
            <a href="/Cat/Gallery">Gallery</a>
            <a href="/Cat/Add">Add cat</a>
            <a href="/Maze/CreateMaze">Create Maze</a>
            <a href="/User/Registration">Registration</a>
            <button class="card"> BankCard </button>
            <div class="card-option hidden">
                <a href="/BankCard/BankCardAdd">BankCardAdd</a>
                <a href="/BankCard/BankCardRemove">BankCardRemove</a>
                <a href="/BankCard/BankCardGetAll">BankCardGetAll</a>
            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>

    <div class="footer">
        Подвал
    </div>    
</body>
<script src="~/js/site.js"></script>
</html>
