<html>
<head>
    <link rel="stylesheet" href="~/css/site.css?v=1">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Head", false)
</head>
<body>
    <div class="header">
        <img src="~/image/cat-logo.png" />
        Название сайта
    </div>

    <div class="center-block">
        <div class="menu">
            <a href="/Home/Index">Home</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/User/Logout">Exit</a>
                <a href="/Cat/Gallery">Gallery</a>
            }
            else
            {
                <a href="/User/Login">Login</a>
            }


            <a href="/Cat/Add">Add cat</a>
            <a href="/Maze/CreateMaze">Create Maze</a>
            <a href="/User/Registration">Registration</a>
            <a href="/Genre/GenreAction">Operation Genre</a>
            <a href="/News/All">AllNews</a>
            <a href="/News/Add">AddNews</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/User/MyNews">MyNews</a>
            }
            <a href="/News/Remove">RemoveNews</a>
            <a href="/Bank/AllBanks">Banks</a>
            <button class="card"> BankCard </button>
            <div class="card-option hidden">
                <a href="/BankCard/BankCardAdd">AddCard</a>
                <a href="/BankCard/BankCardRemove">RemoveCard</a>            
                <a href="/BankCard/BankCardAll">SeeAll</a>
            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>

    <div class="footer">
        Подвал
    </div>
</body>
</html>
