@model List<AddNewsViewModel>


<div>
    @foreach (var news in Model)
    {
        <div>
            @news.Title
        </div>
        <div>
            @news.Source
        </div>
        <div>
           
        </div>
        foreach (var comment in news.CommentsFromForum)
        {
            <div class="news">
                @comment.Message
            </div>
        }
        <div>
            -----------------------------------------------------------
        </div>
    }
</div>