@model AddNewsViewModel
<form action="/News/Remove" method="post">
    <div>
        @Html.TextBoxFor(x => x.Id) Id
    </div>

    <div>
        <input type="submit" value="@WebMazeMvc.Localize.Index.NewsPage_RemoveNews" />
    </div>
</form>