@model GenreViewModel

@section Head {
<link rel="stylesheet" href="~/css/genre.css"/>
}

<form class=" form-add-genre" action="/Genre/AddGenre" method="post">
    <div>
        @Html.TextBoxFor(x => x.GenreName)
        @Html.ValidationMessageFor(x => x.GenreName)
    </div>
    <div class="form-add-genre-input">
        <input type="submit" name="Create" />
    </div>
</form>


