@model GenreViewModel
<form action="/Genre/AddGenre" method="post">
    <div>
        @Html.TextBoxFor(x => x.NameGenre)
        @Html.ValidationMessageFor(x=>x.NameGenre)
    </div>
    <div>
        <input type ="submit" name="Create" />
    </div>
</form>


