@model GenreViewModel
<form action="/Genre/AddGenre" method="post">
    <div>
        @Html.TextBoxFor(x => x.GenreName)
        @Html.ValidationMessageFor(x=>x.GenreName)
    </div>
    <div>
        <input type ="submit" name="Create" />
    </div>
</form>


