@model List<AllGenreGameViewModel>

@foreach (var genre in Model)
{
    <details class="cover-show-genre-and-games">

         <summary class="show-genre"> <span>@genre.NameGenre</span>  количество игр - @genre.genreGameViewModel.Count()</summary>
         <ol>
             @foreach (var game in genre.genreGameViewModel)
             {
                 <li>
                    @game.NameGame
                  </li>
              }
        </ol>   
    </details>
}