
<div class=" menu-Action-Genre">
    <p>
        <a href="/Genre/AddGenre">Add new Genre</a>
    </p>
    <p>
        <a href="/Genre/RemoveGenre">Remove Genre</a>
    </p>
    <p>
        <a href="/Genre/All">Show All</a>
    </p>
</div>

