
<div class=" menu-action-genre">
    <nav>
        <a href="/Genre/AddGenre">Add new Genre</a>
    </nav>
    <nav>
        <a href="/Genre/RemoveGenre">Remove Genre</a>
    </nav>
    <nav>
        <a href="/Genre/All">Show All</a>
    </nav>
    
    @if (User.Identity.IsAuthenticated)
    {
        <nav>
            <a href="/Genre/ChooseGenres">Select favorite genres</a>
        </nav>
    }

</div>

