@model List<GenreViewModel>

<div class=" remove-genre-all-List">
    @foreach (var genre in Model)
    {
       <div class="remove-Box-Genre">
          <div class="remove-name-genre">
            @genre.NameGenre
          </div>
          <div class="link-remove-genre">
            <a href="/Genre/DeleteGenre?id=@genre.Id"> Delete </a>
          </div>
      </div>
    }
</div>