@model List<GenreViewModel>

<div class=" remove-Genre-All-List">
    @foreach (var genre in Model)
    {
       <div class="remove-Box-Genre">
          <div class="remove-Name-Genre">
            @genre.NameGenre
          </div>
          <div class="link-Remove-Genre">
            <a href="/Genre/DeleteGenre?id=@genre.Id"> Delete </a>
          </div>
      </div>
    }
</div>