@model CatViewModel

@section Head{
    <script src="~/js/catAdd.js"></script>
}

<form action="/Cat/Add" method="post" id="someForm">
    <div>
        Name: <input name="name" />
    </div>
    <div>
        Second: <input name="second" type="number" />
    </div>
    <div>
        url: <input name="url" />
    </div>
    <div>
        <input type="submit" value="Send" />
    </div>
</form>

