@model CatViewModel

@section Head{
    <script src="~/js/catAdd.js"></script>
}

<form action="/Cat/Add" method="post" id="someForm" enctype="multipart/form-data">
    <div>
        Name: <input name="name" />
        <img class="icon ok" src="~/image/ok.png" />
        <img class="icon cancel" src="~/image/cancel.png" />
    </div>
    @*<div>
        url: <input name="url" />
    </div>*@
    <div>
        CatImage: <input type="file" name="CatFile" />
    </div>
    <div>
        <input type="submit" value="Send" />  
    </div>
</form>

