@model CatViewModel

<form action="/Cat/Add" method="post">
    <div>
        Name: <input name="name" />
    </div>
    <div>
        Second: <input name="second" type="number" />
    </div>
    <div>
        url: <input name="url" />
    </div>
    <div>
        <input type="submit" value="Send" />
    </div>
</form>