@model CatViewModel

@section Head{
    <script src="~/js/catAdd.js"></script>
}

<form action="/Cat/Add" method="post" id="someForm">
    <div class="gallery">
        Name: <input name="name" />  <div class="img  check"> 1</div> <div class="img  cancel"> 2</div> <div class="img  loading"> 3</div>

    </div>
    <div>
        Second: <input name="second" type="number" />  
    </div>
    <div>
        url: <input name="url" />
    </div>
    <div>
        <input type="submit" value="Send" />  
    </div>
</form>

