@model CatViewModel 

<div>
    Главная страница котов.
</div>
<div>
    <div>
        name: @Model.Name
    </div>
    <img src="@Model.Url" />
    <span>
        Кстати сейчас @Model.Second секунд
    </span>
</div>