@model List<AllCommentsViewModel>


<div>
    @foreach (var comment in Model)
    {
    <div>
        @comment.Message
        if (@comment.CreaterId == @comment.UserId )
        {
        <a href="/Comment/Remove?id=@comment.Id">Удалить</a>
        }
    </div>
    }
</div>