.hmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    text-align: center;
    background-color: #30A8E6;
    position: relative;
}

.hmenu ul ul {
    position: absolute;
}

.hmenu li {
    float: none;
    position: relative;
    width: 135.8px;
    height: 100%;
}

.hmenu li.active a {
    background-image: linear-gradient(white, white);
    background-size: 100% 2px;
}

.hmenu li ul {
    display: none;
    height: auto;
    margin: 0;
    border: 1px solid;
    background-color: #1C85BB;
}

.hmenu li:hover ul {
    display: block;
}

.hmenu a, i {
    color: white;
    text-decoration: none;
    background: no-repeat 0 100%;
    background-image: linear-gradient(#dce1e6, #dce1e6);
    background-size: 0% 2px;
    background-position: center bottom;
    display: block;
    padding: 15px 20px;
    position: relative;
    transition: background-size .3s ease;
}

.hmenu ul li:hover {
    background-color: #1C85BB;
}

.hmenu ul ul li:hover {
    background-color: #30A8E6;
}

.hmenu a:hover, a:focus {
    background-size: 100% 2px;
}

.divTable {
    display: table;
    width: 100%;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell, .divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

.button {
    background-color: #FF4500;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}