img {
    max-width: 100px;
    max-height: 100px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.allgames {
    display: flex;
    flex-wrap: wrap;
}

.oneGame {
    text-align: center;
    border: 2px blue solid;
    margin: 4px;
    flex-direction: column;
}

.namegame {
    font-size: 20px;
}


.gamepole {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

    .gamepole img {
        max-width: 100px;
        max-height: 54px;
    }

.gamehat {
    display: flex;
    flex-wrap: wrap;
}

    .gamehat img {
        max-width: 200px;
        max-height: 400px;
    }

.gameText {
    flex-wrap: wrap;
    flex: 1;
}

.oneGame img {
    max-width: 50px;
    max-height: 50px;
}

.sologamename {
    max-width: 500px;
    display: flex;
    justify-content: center;
}

.allGamenameGenres {
    font-size: 12px;
    max-width: 200px;
    flex-wrap: wrap;
    margin-left: 10px;
}

.gameLinkGenres {
    text-indent: 20px;
}

.gameDescription {
    display: flex;
    flex-wrap: wrap;
    margin-right: 40px;
    align-items: flex-end;
}
