.header {
    background: aqua;
    font-size: 30px;
    text-align: center;
    height: 60px;
}

    .header img {
        max-width: 40px;
        max-height: 40px;
    }

.center-block {
    display: flex;
}

.menu {
    width: 100px;
}

.content {
    flex: 1;
    border: 1px red solid;
}

.footer {
    background: red;
}

img {
    max-width: 100px;
    max-height: 100px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
}

.button {
    flex: 1;
    text-align: center;
    border: 1px red solid;
    margin: 5px;
}


.input-validation-error {
    border: 1px red solid;
}

.field-box {
    display: flex;
}

.filed-name {
    width: 200px;
}

.field-value {
    flex: 1;
}
.menu-Action-Genre p{
    width: 150px;
    border: solid;
    display:flex;
}
.remove-Box-Genre {
    display: flex;
}
.remove-Name-Genre {
    width: 200px;
}
.link-Remove-Genre{
    flex:1;
}

.news{
    padding-left: 20px;
    border-left: 1px red solid;
}

.allgames {
    display: flex;
    flex-wrap: wrap;
}

.oneGame {
    text-align: center;
    border: 2px blue solid;
    margin: 4px;
    flex-direction: column;
}

.namegame {
    font-size: 20px;
}

.logogame {
    width: 60px;
    height: 60px;
    text-align: center;
}

    .oneGame img {
        max-width: 50px;
        max-height: 50px;
    }

.linkgame {
    font-size: 12px;
}


    