@model UserGenresViewModel

<div class="cover-user-genres">
    <div class=" user-name-genres">
        @Model.UserName ваши любимые жанры
    </div>
    <div class="user-all-genres">
        @foreach (var genre in Model.Genres)
        {
            <p>
                @genre.NameGenre
            </p>
        }
    </div>
</div>
