@model List<ShortNewsViewModel>

<h1>
    Мои новости 
    <a href="/News/DownloadTodayNews">скачать</a>
</h1>
<div>
    @foreach (var news in Model)
    {
        <div>
            @news.Title (@news.Id)
        </div>
        <div>
         -----------------------------------------------------------  
        </div>
    }
</div>